*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
   overflow-x: hidden;
}
main{
    width: 100%; 
    max-width: 1920px;
    background-color: #191919;
    margin: 0 auto;
    box-sizing: border-box;
    
}

.cshd{
     position: relative;
    
}
.cs_main1_pl1{
    margin-left: auto;
    margin-right: auto;
}
.cs_main1 img{
    width: 100%;
    height: auto;  
}
.csplayer_img{
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
}
.cshd_txt{
    position: absolute;
    color: #FFF;
    font-size: 60px;
    transform:translate(80%, -50%) ;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    left: 48%;
}
.cshd_txt{
    top:20%;
    transform: translate(-50%, -50%);
}


.cshd1>.cshd1-1{
    display: flex;
    padding: 30px;
    margin-left:50px;
    margin-top: 50px;
    width: 100%;
    }
.cshd1>.cshd1-1>p{
    background: black;
    color: #FFF;
    height: 2vw;
    padding: 0.8vw;
    border-radius: 1vw;
    font-weight: bold;
    text-align: center;
    font-size: 1vw;
}
.cshd1>.cshd1-1>.cshd-img{
    justify-content: flex-end;
    width: 90%;
    display: flex;
}
.cshd-img img{
    width: 5vw;
    height: 2vw;
    
}

.cs_main_pl{
    justify-content: center;
    display: flex;
    /* padding: 5vw; */
    gap: 2vw;
    flex-wrap: wrap; 
}
.csplayer_img{
    width: 23%;
    height: 400px;
    /* background-size: cover;
    background-position: center; */
    position: relative;
    display: block;
    border-radius: 2px;
    overflow: hidden;
}
.csplayer_img img{
    width: 20vw;
    height: 26vw;
    /* object-fit: cover; */
    transition: transform 0.3s ease;
    /* padding: ; */
    display: block;
    cursor: pointer;
   }

.csplayer_img:hover{
    transform: scale(1.05);
}

.csplayer_info, h3 ,h2{
    margin: 4px 0;
}
div>p{
    color: #FFF;
    font-size: 5vw;
}

.cs_main_pl>div{
    width:20vw;
    height: 30vw;
    /* background-color: #000; */
}

.csplayer_img{
    width: 100%;
    height: auto;
}
.cs_main1_pl img{
    width: 100%;
    height: auto;
    padding:12vw;
    
}
.cs_main_pl>div h2,.cs_main_pl>div h3,.cs_main_pl>div p{
    font-size: 1vw;
}
.csplayer_info {
  padding: 2vw;
  position: absolute;
  bottom: 2vw;
  left:0.1vw;
  color: white;
  font-weight: bold;
  z-index: 2;
}


footer{
    
    width: 100%; 
    background-color: #191919;
    box-sizing: border-box;
    
}

.footer_sec>.box{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}
.footer_logo{
    width: 80px;
    padding-top: 20px;
  
    

}
.footer_logo>a{
    display: block;
}
.footer_logo img{
    width: 100%;
    
    
}

@media screen and (max-width: 820px){
 
  .cshd1-1 > p {
    margin: 0;
    margin-top: 60px;
    background: #ca0a22;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 16px;
    white-space: nowrap;
  }

  .cshd-img {
    display: flex;
    align-items: center;
  }

  .cshd-img img {
    width: 2vw;
    height: 2vw;
    margin-top: 50px;
    padding-right: 50px;
  }
  .cs_main_pl{
     padding-left: 50px;
  }

}
@media screen and (max-width: 820px){
    .cs_main1 img{
        display: none;
    }
    .cshd_txt{
        font-size: 20px;
        padding-top: 50px;
    }
    .cshd1 > .cshd1-1 {
    display: flex;
    justify-content: flex-end; 
    padding: 0 20px;
    margin: 0;
    gap: 8px;
  }

    
    .cs_main_pl{
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    .cs_main_pl>div{
        width:30vw;
        height: 38vw; 
        /* margin-bottom: 20px; */
        /* padding: 10px; */
    }
}    
    
@media screen and (max-width:820px) {
    .footer_sec>.box{
        display: block;
        flex: none;
    }
}
@media screen and (max-width: 482px){

       .cshd_txt{
        font-size: 2vw;
        padding-left: 20px;
    }
}
   

  
@media screen and (max-width: 1480px){
    /* .cshd_txt{
        font-size: 30px
    } */
    .cs_main1 img{
        height: 300px;  
    }
    .cs_main1 img{
        height: 300px;  
    }
    
    .cs_main_pl{
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .cs_main_pl>div{
        width: calc(47% - 50px);
        margin: 10px;
        padding: 10px; */
    }


@media screen and (max-width: 1024px){
    /* .cshd_txt{
        font-size: 30px
    } */
}
@media screen and (max-width: 1440px){
    /* .cshd_txt{
        /* font-size: 20px */
    } */

  .cshd1-1 > p {
    margin: 0;
    margin-top: 60px;
    background: #ca0a22;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 16px;
    white-space: nowrap;
  }

  .hd-img {
    display: flex;
    align-items: center;
  }

  .hd-img img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    padding-right: 50px;
  }
}